body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.cover{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 0px 40px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 5px black;
  }

.container{
    max-width: 600px;
    margin: 0  auto;
    padding: 50px 30px;
    box-shadow: rgba(100 , 100 , 111 , 0.2 ) 0px 7px 29px 0px ;
}

.form-group{
    margin-bottom: 30px;
}



